* {
    padding: 0;
    margin: 0;
}

.nav-section {
    background-color: #062703f6;
    display: flex;
    justify-content: center;
    padding: 5px;
    position: fixed;
    width: 100%;   

}

.top-nav {
    display: flex;
    justify-content: space-between
     
}

#nav-items {
    display: flex;
    gap: 10px;
    width: 100%;
    min-width: fit-content;
    justify-content: space-between;
    

}

.span-item span {
color: #314d07;

}

.span-item {
font-weight: bold;
font-size: 23pt;
/* color: rgba(255, 255, 255, 0.795); */
/* margin-right: 150px; */

}

.title {
    font-style: italic;
    font-weight: bold;

}

#logo {
    display: inline-block;
    margin: 20px;
    float: left;
    height: 30px;
    width: auto;
    border-radius: 30%;
}


.list-item {
    list-style-type: none;
    padding: 20px;
}

nav a {
    text-decoration: none;
    font-size: 12pt;
    color: rgb(247, 244, 244);
}

.about-section h2 {
    font-size: 70px;
    color: white;

}

.about-section p {
    font-size: 20px;
    color: white;
    margin-top: 1.2rem;

}

.about-section button {
    font-weight: bold;
    color: white;
    background-color: #314d07;
    margin-top: 2rem;
    padding: 10px;
    width: 20%;
    font-size: 15px;
}

/* .parrallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
   
} */


/* .section-image {
    width: auto;
    width: 1000px;
    height: 100%;
} */

.whole-container {
    background-color: rgba(240, 248, 255, 0.288);
    width: 80%;
    margin: 2rem auto;
}

.image-container{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* margin-left: 4000px; */
 margin: auto;
 display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 5px;
grid-row-gap: 0px;
     
    
  
    
}
.image-container img{
    width: 100%;
    height: 130%;
    border-radius: 10px;
}


.image-sector {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 0px;
    padding: 100px;
    margin-left: 40px;
  
    
}

.main-story {
padding-top: 20px;
margin-left: 50px;
display: flex;

}

.main-story p {
    padding-bottom: 20px;
}

.main-story h2 span {
    color: #68a807;
    padding-bottom: 10px;
}

.story-heading img {
     padding-top: 2px;
}

.story-paragraph p {
    padding: 5px;
    align-items: center;  
    text-align: justify;
}

.story-heading {
    width: 50%;
}

.story-heading h2 {
    margin: 1rem;
}

.story-heading p {
    margin: 1rem;
}

.story-heading span {
    color: #68a807;
    padding-bottom: 10px;
}

.story-heading img {
    padding-top: 2px;
}

.video-container {
    width: 50%;
   padding-bottom: 250px;
   padding-left: 100px;
   

}
.story-paragraph button {
    padding: 10px;
    font-weight: bold;
    margin-top: 10px;
    background-color: #68a807;
}

.next-section {
    display: flex;

}
.other-section {
    display: flex;
    gap: 18px;
    margin-bottom: 70px;
    margin-top: 30px;
    
}

.next-image {
    width: 50%;
}

.next-image img {
    width: 100%;
}


.whole-container h1{
    padding-left: 100px;
    padding-top: 70px;
    margin-left: 50vh;
    padding-bottom: 40px;
    color: #68a807;
}

.slides-container {
    min-width: 50vh;
    max-width: 50vh;
    
    
}

.slides-container img {
    width: 50vw;
    height: 50vh;
    
}

.myslides {
    width: 20px;
    height: 20px;


}
.about-section {
    position: absolute;
    top: 20%;
    left: 25%;
    text-align: center;
    color: white;
}

.gradient-img {
    background: rgb(0, 0, 0);
    background: linear-gradient( rgba(0,0,0,0.3), rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.gradient-img img {
    opacity: 0.7;
    width: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient( rgba(0,0,0,0.3), rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}
.icons {
 align-items: center;
}

.other-section {
display: flex;
}

.sub-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 0px;
    width: 100%;
    
}

.min img {
  width: 10%; 
}

.min {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  
}

.max img{
 width: 20%;
}

.max {
/* margin-bottom: 200px; */
}

.mat img {
 width: 8%;
}

